#
# This is the configuration file for piuparts running in master-slave mode
#
# The sample file does not set all required values, to prevent the
# master from being run accidentally.
# 
# You MUST make sure that the packages url is set correctly. The sample
# file does not set it at all, to prevent the master from being run
# accidentally.
#
#

[slave]
sections = sid

[sid]
sections = sid
log-file = slave.log
idle-sleep = 300
# master-host = localhost
# master-user = piuparts
# master-directory = .
master-command = python /usr/share/piuparts/piuparts-master.py
# mirror = http://your.mirror.here/debian
piuparts-cmd = sudo piuparts
distro = sid
chroot-tgz = sid.tar.gz
upgrade-test-distros = 
upgrade-test-chroot-tgz = 
max-reserved = 50
debug = no

[master]
log-file = /dev/null
# packages-url = http://your.mirror.here/debian/dists/sid/main/binary-i386/Packages.bz2

# report
[sid]
output-directory = html

[report]
sections = sid
index-page = ./index.html


# You can have multiple sections, so that you can run piuparts for multiple dists

# For stable-proposed-updates, you'll have to roll your own chroot, or modify
# the sources.list in a generated chroot for stable, in order to include the
# appropriate deb line for stable-proposed-updates
## [s-p-u-i386]
## idle-sleep = 300
## # master-host = localhost
## # master-user = piuparts
## # master-directory = .
## master-command = python /usr/share/piuparts/piuparts-master.py s-p-u-i386
## # mirror = http://your.mirror.here/debian
## piuparts-cmd = sudo piuparts
## distro = stable-proposed-updates
## chroot-tgz = s-p-u.tar.gz
## keep-sources-list = yes
## upgrade-test-distros =
## upgrade-test-chroot-tgz =
## max-reserved = 50
## debug = no

## [sid-ia64]
## log-file = /dev/null
## packages-url = http://ftp.debian.org/debian/dists/sid/binary-ia64/Packages.bz2

## [s-p-u-i386]
## log-file = /dev/null
## packages-url = http://ftp.debian.org/debian/dists/stable-proposed-updates/binary-i386/Packages.bz2


