#
# This is the configuration file for piuparts-master, the master portion
# of the distributed piuparts system.
#
# You MUST make sure that the packages url is set correctly. The sample
# file does not set it at all, to prevent the master from being run
# accidentally.
# 
# Lars Wirzenius <liw@iki.fi>
#

[master]
log-file = /dev/null
# packages-url = http://your.mirror.here/debian/dists/sid/main/binary-i386/Packages.bz2
