#
# This is the configuration file for piuparts running in master-slave mode.
#
# The sample file does not set all required values, to prevent the
# master from being run accidentally.
# 
# You MUST make sure that master-host, master-user, master-directory, mirror
# and packages-url are also set correctly. The sample file does not set it at
# all, to prevent the master from being run accidentally.
#
#

[global]
sections = sid
# master-host = localhost
# master-user = piuparts
# master-directory = .
output-directory = html
idle-sleep = 300

[sid]
description = "Debian sid / main"
master-command = python /usr/share/piuparts/piuparts-master sid
# mirror = http://your.mirror.here/debian
# packages-url = http://your.mirror.here/debian/dists/sid/main/binary-i386/Packages.bz2
piuparts-cmd = sudo piuparts
# another example:
# piuparts-cmd = sudo piuparts --no-symlinks --scriptsdir /etc/piuparts/scripts/ --tmpdir /var/tmp
distro = sid
chroot-tgz = sid.tar.gz
upgrade-test-distros = 
upgrade-test-chroot-tgz = 
max-reserved = 50
debug = no
log-file = sid-master.log

## another example:
## [s-p-u-i386]
## master-command = python /usr/share/piuparts/piuparts-master.py s-p-u-i386
## packages-url = http://ftp.debian.org/debian/dists/stable-proposed-updates/binary-i386/Packages.bz2

