#
# This is the configuration file for piuparts-report, the HTML report
# creation portion of the distributed piuparts system.
#
# Lars Wirzenius <liw@iki.fi>
#

[report]
sections = sid
index-page = ./index.html
output-directory = html
# packages-url = 
# master-directory = .

[sid]
output-directory = html
# packages-url = 
# master-directory = .

