#
# This is the configuration file for piuparts-slave, the slave portion
# of the distributed piuparts system.
#
# The sample file does not set all required values, to prevent the
# master from being run accidentally.
# 
# Lars Wirzenius <liw@iki.fi>
#

[slave]
idle-sleep = 300
# master-host = localhost
# master-user = piuparts
# master-directory = .
master-command = python /usr/share/piuparts/piuparts-master.py
# mirror = http://your.mirror.here/debian
piuparts-cmd = sudo piuparts
distro = sid
chroot-tgz = sid.tar.gz
upgrade-test-distros = sarge etch sid
upgrade-test-chroot-tgz = sarge.tar.gz
max-reserved = 50
debug = no
