# m h dom mon dow (0|7=sun,1=mon)    command

#
# for normal checks, piupartsm's crontab should be used. This is only for tests which needs root priviledges
#

#
# start slave_run automatically after reboots
#
@reboot sudo /home/piupartss/bin/slave_run

#
# monitor for problems every six hours
#
23 */6 * * * /home/piupartss/bin/detect_leftover_processes

#
# delete chroot-tarballs once a month, so that new ones are created automatically
# after that, kill and restart the slave session to recreate them
#
42 23 1 * * sudo rm -v /org/piuparts.debian.org/slave/*/*.tar.gz ; sudo screen -r piuparts-slave-screen -X quit ; sleep 60 ; sudo /home/piupartss/bin/slave_run
