# m h dom mon dow (0|7=sun,1=mon)    command

#
# for normal checks, piupartsm's crontab should be used. This is only for tests which needs root priviledges
#

#
# monitor for problems every two hours
#
23 */2 * * * /home/piupartss/bin/detect_leftover_processes
