#
# This is the configuration file for piuparts running in master-slave mode.
#
# The sample file does not set all required values, to prevent the
# master from being run accidentally.
#
# You MUST make sure that master-host, master-user, master-directory, and
# mirror are also set correctly. The sample file does not set it at
# all, to prevent the master from being run accidentally.
#
#

[global]
sections = sid
master-host = localhost
master-user = piupartsm
master-directory = /var/lib/piuparts/master
output-directory = /var/lib/piuparts/htdocs
doc-root = /piuparts/
master-command = python /usr/share/piuparts/piuparts-master
idle-sleep = 300
max-tgz-age = 604800
reschedule-old-days = 90
reschedule-old-count = 150
reschedule-fail-days = 30
reschedule-fail-count = 25
#bts-from

[sid]
precedence = 1
description = "Debian sid / main"
piuparts-cmd = sudo piuparts --no-symlinks --scriptsdir /etc/piuparts/scripts/ --tmpdir /var/tmp
# mirror = http://cdn.debian.net/debian
distro = sid
# area = main
# arch = amd64
chroot-tgz = sid.tar.gz
upgrade-test-distros =
upgrade-test-chroot-tgz =
max-reserved = 50
debug = no


## another example:
## [s-p-u-i386]
## # mirror = http://cdn.debian.net/debian
## distro = stable-proposed-updates
## # area = main
## arch = i386
