# m h dom mon dow (0|7=sun,1=mon)    command

#
# create reports once a day
#  (dinstall runs 1|7|13|19:52, so this is long after mirror pushes...)
#
0 0 * * * ( /home/piupartsm/bin/detect_well_known_errors ; find /org/piuparts.debian.org/master/*/fail /org/piuparts.debian.org/master/*/bugged -type f -mtime -1 -exec ls -rt1 {} \;|sed s#^/org/#http://#g | sed s#/master/#/#g ; PYTHONPATH=/org/piuparts.debian.org/lib/python2.6/dist-packages:/org/piuparts.debian.org/lib/python2.6/dist-packages nice python /org/piuparts.debian.org/share/piuparts/piuparts-report  2>&1 ) > /org/piuparts.debian.org/htdocs/dailyreport.txt ; cat /org/piuparts.debian.org/htdocs/dailyreport.txt | mail -s piuparts-report piupartsm # failures of the day it should be, the rest is boring.

#
# monitor slave session every hour
#
23 * * * * /home/piupartsm/bin/detect_slave_problems 

#
# make sure slave is reminded daily (and also monitored if not started with ~piupartss/bin/slave_run)
#
42 0 * * * rm -f /org/piuparts.debian.org/master/monitor-slave/* ; cp /org/piuparts.debian.org/slave/screenlog.0 /org/piuparts.debian.org/master/monitor-slave/screenlog.new ; chmod -f 775 /org/piuparts.debian.org/master/monitor-slave/screenlog.new

#
# monitor for problems once a day
#
# FIXME now: use run-parts
45 22 * * * /home/piupartsm/bin/detect_stale_mounts
50 22 * * * /home/piupartsm/bin/detect_tmp_cruft
55 22 * * * /home/piupartsm/bin/detect_network_issues
0  23 * * * /home/piupartsm/bin/detect_archive_issues
5  23 * * * /home/piupartsm/bin/detect_piuparts_issues
10 23 * * * /home/piupartsm/bin/report_untestable_packages
20 23 * * * /home/piupartsm/bin/report_stale_reserved_packages
25 23 * * * /home/piupartsm/bin/archive_old_logs
25  5 * * * /home/piupartsm/bin/reschedule_oldest_logs

#
# misc
#
0 2 * * * /home/piupartsm/bin/prepare_backup

