# m h dom mon dow (0|7=sun,1=mon)    command

# 
# notify about reboots
#
@reboot ddate | mail -s "piatti rebooted, please restart the piuparts-slave screen session" piupartss
#
# create reports once a day
#  (dinstall runs 1|7|13|19:52, so this is long after mirror pushes...)
#
42 6 * * * PYTHONPATH=/org/piuparts.debian.org/lib/python2.4/site-packages:/org/piuparts.debian.org/lib/python2.5/site-packages nice python /org/piuparts.debian.org/share/piuparts/piuparts-report

